In [1]:
#format
name = "john"
age = 36
txt = "my name is {} , and I am {}".format(name,age)
print(txt)

my name is john , and I am 36

In [2]:
a = 'hello world!'
print(a[-5:-2])

orl

In [3]:
#concatenation
a = "hai"
b = "siva"
c = a + " " + b
print(c)

hai siva

In [5]:
a = 7
print(float(a))

b = 7.9
print(int(b))

a = 35
print(type(a))

d = 4j
print(type(d))

7.0
7
<class 'int'>
<class 'complex'>

In [6]:
#slicing

num = ("a","b","c","d","e","f","g","h")
x = slice(0,7,2) 
print(num[x])

('a', 'c', 'e', 'g')

In [7]:
#List

a = ["abc",34,True,45,"siva"]
print(a)
print(type(a))a = ["abc",34,True,45,"siva"]
b = ["sivasankar",63,"papa"]
a.extend(b)
print(a)

['abc', 34, True, 45, 'siva']
<class 'list'>

In [8]:
a[0] = "sankar"
a

['sankar', 34, True, 45, 'siva']

In [9]:
a = ["abc",34,True,45,"siva"]
a.append("narayanan")
print(a)

['abc', 34, True, 45, 'siva', 'narayanan']

In [10]:
a.remove(45)
a

['abc', 34, True, 'siva', 'narayanan']

In [11]:
a.insert(2,"papa")
a

['abc', 34, 'papa', True, 'siva', 'narayanan']

In [12]:
print(a[2])

papa

In [13]:
a.pop(1)

34

In [14]:
a = ["abc",34,True,45,"siva"]
del a[3]
print(a)

a = ['p','r','o','b','l','e','m']
del a[2:6]
print(a)

['abc', 34, True, 'siva']
['p', 'r', 'm']

In [15]:
a = ["abc",34,True,45,"siva"]
b = ["sivasankar",63,"papa"]
a.extend(b)
print(a)

['abc', 34, True, 45, 'siva', 'sivasankar', 63, 'papa']

In [16]:
fruits = ("apple",True,"orange","mango","banana",45)
print(fruits)
print(type(fruits))

('apple', True, 'orange', 'mango', 'banana', 45)
<class 'tuple'>

In [17]:
print(len(fruits))

6

In [18]:
fruits = {"apple",True,"orange","mango","banana",45}
print(type(fruits))

<class 'set'>

In [19]:
print ( type( () ) )

<class 'tuple'>

In [20]:
print ( type( [] ) )

<class 'list'>

In [21]:
print ( type( {} ) )

<class 'dict'>

In [22]:
a = [100,86,36,99,23]
a.sort()
print(a)

[23, 36, 86, 99, 100]

In [23]:
a.sort(reverse=True)
print(a)

[100, 99, 86, 36, 23]

In [24]:
print (36 in a)

print (85 in a)

True
False

In [25]:
#Dict
a = { "name" : "siva" , 
     "age" : 19 , 
     "aim" : "software engineering"
    }
print(a)
print(type(a))

{'name': 'siva', 'age': 19, 'aim': 'software engineering'}
<class 'dict'>

In [26]:
a ["age"] = 26
print(a)

{'name': 'siva', 'age': 26, 'aim': 'software engineering'}

In [27]:
a = { "name" : "siva" , 
     "age" : 19 , 
     "aim" : "software engineering"
    }

a["address"] = "TVL"
print(a)

{'name': 'siva', 'age': 19, 'aim': 'software engineering', 'address': 'TVL'}

In [28]:
x = a.values()

print(x)

dict_values(['siva', 19, 'software engineering', 'TVL'])

In [29]:
f = a.keys()

print(f)

dict_keys(['name', 'age', 'aim', 'address'])

In [30]:
a = {'name': 'siva', 'age': 19, 'aim': 'software engineering', 'address': 'TVL'}
a.pop("address")
print(a)

{'name': 'siva', 'age': 19, 'aim': 'software engineering'}

In [31]:
a = ["apple","orange","mango","banana"]
print(a.pop(2))

mango